{% extends "layout.html" %} {% block content %}
<div class="search-container">
  <form
    id="searchForm"
    class="search-form"
    method="POST"
    action="{{ url_for('start_parsing') }}"
  >
    <!-- Ключевые слова -->
    <div class="form-group">
      <label for="keywords" class="form-label">Ключевые слова</label>
      <input
        type="text"
        id="keywords"
        name="keywords"
        class="form-input"
        placeholder="Введите слова через запятую (пример: строительство, налоги, инкассация)"
      />
    </div>

    <div class="form-row">
      <!-- Источники -->
      <div class="form-group">
        <label class="form-label">Источники</label>
        <div class="select-wrapper">
          <select id="sources" name="sources" multiple class="form-select">
            {% for source in news_sources %}
            <option value="{{ source['id'] }}">{{ source['name'] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- Календарь -->
      <div class="form-group">
        <label for="dateRange" class="form-label">Период</label>
        <input
          type="text"
          id="dateRange"
          class="form-control"
          placeholder="Выберите период"
          name="date_range"
        />
      </div>

      <!-- Кнопка -->
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Найти</button>
      </div>
    </div>
  </form>

  <div id="results">
  {% if news %}
    <h2 class="mt-4 text-white">Результаты поиска</h2>
    <ul class="list-group">
      {% for item in news %}
        <li class="list-group-item">
          <h5><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h5>
          <p class="mb-1"><strong>Дата публикации:</strong> {{ item.date_publication }}</p>
          <p class="mb-0">{{ item.content[:300] }}...</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-muted">Пока нет результатов.</p>
  {% endif %}
</div>


</div>
{% endblock %}
