{% extends "layout.html" %} {% block content %}
<h1>Мониторинг СМИ</h1>
<div class="search-container">
  <form
    id="searchForm"
    class="search-form"
    method="POST"
    action="{{ url_for('search') }}"
  >
    <!-- Ключевые слова -->
    <div>
      <label for="keywords" class="form-label">Ключевые слова</label>
      <input
        type="text"
        id="keywords"
        name="keywords"
        class="form-input"
        placeholder="Введите слова через запятую (пример: строительство, налоги, инкассация)"
      />
    </div>

    <div class="form-row">
      <div class="form-group">
        <!-- Источники -->
        <div class="form-control-wrapper">
          <label class="form-label">Источники</label>
          <div class="choices-container">
            <select id="sources" name="sources" multiple>
              {% for source in news_sources %}
              <option value="{{ source['id'] }}">{{ source['name'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Календарь -->
        <div class="form-control-wrapper">
          <label for="dateRange" class="form-label">Период</label>
          <input
            type="text"
            id="dateRange"
            class="form-control height-format"
            placeholder="Выберите период"
            name="date_range"
          />
        </div>
      </div>

      <!-- Кнопка -->
      <div class="button-wrapper">
        <label for="dateRange" class="form-label hidden">Период</label>
        <button
          type="submit"
          class="height-format btn btn-primary"
          name="button"
          name="action"
          value="export"
        >
          Найти
        </button>
      </div>
    </div>
  </form>
</div>

<div id="results">
  {% if news %}
  <h2 class="mt-4 text-white">Результаты поиска</h2>
  <form action="{{ url_for('export') }}" method="POST">
    <ul class="list-group">
      {% for item in news %}
      <li class="list-group-item">
        <div class="checkbox-container">
          <input
            class="custom-checkbox"
            type="checkbox"
            id="news-{{ item.id }}"
            name="selected_news"
            value="{{ item.id }}"
          />
          <label for="news-{{ item.id }}"></label>
        </div>
        <div class="content-wrapper">
          <h5><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h5>
          <span class="date-container">
            <strong>Дата публикации:</strong> {{ item.date_publication }}
          </span>
          <p>{{ item.content[:300] }}...</p>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="submit-container">
      <button type="submit" class="submit-btn">Экспортировать</button>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
